# LaTeX build files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.dvi

# VS Code settings
.vscode/

# Python cache
__pycache__/
*.pyc

# Datasets (Too large for GitHub)
data/
